{%- for item in items -%}
<div class="buttonItem cursor
	{%- if item.data.isCss %} userstyle{% endif -%}
	{%- if item.data.isScript %} userscript{% endif -%}">

	{%- if not item.data -%}
		<span class="icon material-symbols-outlined">tab</span>
	{%- else -%}
		<input class="icon" type="checkbox" name="userStyle-{{ item.data.id }}" value="{{ item.data.fileName }}" id="{{ item.data.id }}"{% if item.data.enabled %} checked{% endif %} />
	{%- endif -%}
	<label class="title ellipse" for="{{ item.data.id }}"
			{%- if item.data.tags | length > 0 %} title="Tag{%- if item.data.tags | length > 1 -%}s{%- endif %} : {{ item.data.tags.join(', ') }}"{% endif -%}>
		{%- if item.data.isScriptExecuted | default(null) != null -%}
		<span class="running-state material-symbols-outlined">{%- if item.data.isScriptExecuted == true -%}
			play_arrow
		{%- elseif item.data.enabled -%}
			warning
		{%- endif -%}</span>
		{%- endif -%}

		{{- item.title -}}
	</label>
	{%- if not item.data -%}
		<div class="data">Aucun style</div>
	{%- else -%}
		<div class="data">
			{%- if item.data.isScriptExecuted == true -%}
				<ul class="menu-actions">
				{%- for menuItem in item.data.menuCommands  -%}
					<li>
						<button class="menu-action ellipse"
								data-target="{{ item.data.fileName }}"
								data-userscript-menu-command="{{ menuItem.id }}"
								{%- if menuItem.title %} title="{{ menuItem.title }}"
								{%- else %} title="{{ menuItem.name }}"{%- endif -%}
								{%- if menuItem.accessKey %} accesskey="{{ menuItem.accessKey }}"{%- endif -%}
								{%- if menuItem.autoClose %} data-userscript-auto-close=""{%- endif -%}>
							<span class="material-symbols-outlined">manufacturing</span>
							{{- menuItem.name -}}
						</button>
					</li>
				{%- endfor -%}
				</ul>
			{%- else -%}
				<label class="d-block" for="{{ item.data.id }}">&nbsp;</label>
			{%- endif -%}
		</div>
	{%- endif -%}
</div>
{%- endfor -%}
