{%- for item in items -%}
<div class="buttonItem cursor">
	{%- if not item.data -%}
		<span class="icon material-symbols-outlined">tab</span>
	{%- else -%}
		<input class="icon" type="checkbox" name="userStyle-{{ item.data.id }}" value="{{ item.data.fileName }}" id="{{ item.data.id }}"{% if item.data.enabled %} checked{% endif %} />
	{%- endif -%}

	<label class="title ellipse" for="{{ item.data.id }}">{{item.title}}</label>
	{%- if not item.data -%}
		<div class="data ellipse">Aucun style</div>
	{%- else -%}
		<div class="data ellipse">
			<label for="{{ item.data.id }}">{{ item.data.tags.join(', ') }}</label>
			{%- for menuItem in item.data.menuCommands  -%}
				<button data-target="{{ item.data.fileName }}" data-userscript-menu-command="{{ menuItem.id }}">{{ menuItem.label }}</button>
			{%- endfor -%}
		</div>
	{%- endif -%}
</div>
{%- endfor -%}
