<header>
    <ul role="tablist">
        {%- for folderName, data in bookmarks -%}
        <li>
            <label for="{{ folderName }}"{% if loop.first %} class="checked" {% endif %} role="tab">
                {{- folderName -}}
            </label>
        </li>
        {%- endfor -%}
    </ul>
    <button id="reopenWindow" disabled><span class="material-symbols-outlined">reopen_window</span></button>
    <button id="refreshThumbnails"><span class="material-symbols-outlined">frame_reload</span></button>
</header>

<h1 class="screen-reader-text">New tab</h1>
{% for folderName, data in bookmarks %}
    <input type="radio" name="newTab-folders" id="{{ folderName }}" value="{{ folderName }}" class="hide"{% if loop.first %} checked{% endif %}>
    <section id="{{ folderName }}" class="newTab-section">
        <div id="newTab-content-{{ folderName }}" class="newTab-sectionChildren">
            {% for bookmark in data.children %}
                {% if bookmark.children %}
                    <!-- Folder not yet supported -->
                {% else %}
                    {% set meta = getMeta(bookmark) %}
                    <article class="newTab-item" style="{% if meta.theme_color %}--theme-color: {{ meta.theme_color }};{% endif %}{% if meta.background_color %}--background-color: {{ meta.background_color }};{% endif %}">
                        <a href="{{ bookmark.url }}" class="title">
                            {%- if meta._hostname -%}
                                {%- if meta.favicon -%}
                                    <img class="favicon" src="{{ meta.favicon }}" crossorigin="anonymous" alt="favicon" loading="lazy" />
                                {%- endif -%}
                                <img class="favicon favicon-default" src="https://icons.duckduckgo.com/ip2/{{ meta._hostname }}.ico" crossorigin="anonymous" alt="favicon">
                            {%- endif -%}

                            {{- bookmark.title -}}
                        </a>
                        <a href="{{ bookmark.url }}" class="hover"></a>

                        {% set image = meta.capture ?? meta.image %}
                        {% if image %}<img class="background" src="{{ image }}" crossorigin="anonymous" alt="{{ bookmark.title }}">{% endif %}
                    </article>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endfor %}